<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPNP3S4X');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page non trouvée</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="error-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPNP3S4X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{> navbar}}

    <!-- Animation du GIF -->
    <div class="gif-container">
        <img src="/images/404.gif" alt="404 Animation" id="moving-gif">
    </div>

    <div class="error-container">
        <h1>Erreur 404</h1>
        <p>Oups ! La page que vous cherchez n'existe pas.</p>
        <a href="/" class="home-button">Retour à l'accueil</a>
    </div>

    <script src="/scripts/404-animation.js"></script>
</body>
</html>
