<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PPNP3S4X');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BJSMR7KX9R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BJSMR7KX9R');
</script>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPNP3S4X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{> navbar}}

    <div class="about-container">
        <h2>À propos de notre plateforme</h2>
        <p>
            Bienvenue sur notre plateforme de paris sportifs. Nous proposons un espace pour les passionnés de sport qui souhaitent parier sur leurs équipes et événements sportifs préférés.
        </p>
        <h3>Disclaimer</h3>
        <p class="disclaimer">
            <strong>Attention :</strong> Cette plateforme ne propose pas de jeux d'argent. Les paris effectués ici ne sont pas associés à des gains financiers réels.
            Conformément à la législation française, les jeux d'argent en ligne sont strictement réglementés. Ce site est destiné uniquement à des fins de divertissement.
            Aucun échange d'argent ou de gains monétaires n'est proposé ici.
        </p>
        <p>
            Nous vous remercions de respecter cette règle pour éviter tout problème légal et pour profiter d'une expérience de pari sans risque.
        </p>

        <!-- Bouton LinkedIn -->
        <div class="linkedin-container">
            <a href="https://www.linkedin.com/in/emmanuel-frenot-ef75000123456789abc-senior-edf-java-it-project-manager-france-arkance-systems-com-fr/" target="_blank" class="linkedin-button">
                Voir mon profil LinkedIn
            </a>
        </div>
    </div>
</body>
</html>
